{
  "openapi": "3.0.3",
  "info": {
    "title": "Nimbus Store API",
    "version": "2.4.0",
    "description": "REST API for the Nimbus Store platform — product catalog, shopping cart, checkout and order management for the Nimbus e-commerce apps.",
    "contact": {
      "name": "Nimbus Platform Team",
      "email": "platform@nimbusstore.dev"
    }
  },
  "servers": [
    {
      "url": "https://api.nimbusstore.dev/v1",
      "description": "Production"
    },
    {
      "url": "https://staging-api.nimbusstore.dev/v1",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Registration, login and session management"
    },
    {
      "name": "Users",
      "description": "User profile management"
    },
    {
      "name": "Products",
      "description": "Product catalog"
    },
    {
      "name": "Categories",
      "description": "Product categories"
    },
    {
      "name": "Cart",
      "description": "Shopping cart"
    },
    {
      "name": "Orders",
      "description": "Checkout and order tracking"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token obtained from /auth/login or /auth/register."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Client-Id",
        "description": "Client application identifier issued in the developer portal. Required on every request in addition to the user's bearer token."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "VALIDATION_ERROR"
          },
          "message": {
            "type": "string",
            "example": "One or more fields are invalid."
          },
          "details": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "email: must be a valid email address"
            ]
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [
          "line1",
          "city",
          "postalCode",
          "country"
        ],
        "properties": {
          "line1": {
            "type": "string",
            "example": "221B Baker Street"
          },
          "line2": {
            "type": "string",
            "nullable": true,
            "example": "Apt 4"
          },
          "city": {
            "type": "string",
            "example": "London"
          },
          "postalCode": {
            "type": "string",
            "example": "NW1 6XE"
          },
          "country": {
            "type": "string",
            "example": "GB",
            "description": "ISO 3166-1 alpha-2 country code"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "8f14e45f-ceea-4c9c-b8f2-1a2b3c4d5e6f"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "amelia.chen@example.com"
          },
          "fullName": {
            "type": "string",
            "example": "Amelia Chen"
          },
          "role": {
            "type": "string",
            "enum": [
              "customer",
              "seller",
              "admin"
            ],
            "default": "customer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "email",
          "password",
          "fullName"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "amelia.chen@example.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "minLength": 8,
            "example": "S3curePass!"
          },
          "fullName": {
            "type": "string",
            "example": "Amelia Chen"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "amelia.chen@example.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "S3curePass!"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          },
          "refreshToken": {
            "type": "string",
            "example": "8b1c9e2a-6f3d-4e7b-9a1c-2d3e4f5a6b7c"
          },
          "expiresIn": {
            "type": "integer",
            "example": 3600
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "example": "Headphones"
          },
          "slug": {
            "type": "string",
            "example": "headphones"
          },
          "productCount": {
            "type": "integer",
            "example": 128
          }
        }
      },
      "ProductImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://cdn.nimbusstore.dev/products/aurora-headset/main.jpg"
          },
          "isPrimary": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sku": {
            "type": "string",
            "example": "NB-AUR-BLK-01"
          },
          "name": {
            "type": "string",
            "example": "Aurora Wireless Headset"
          },
          "description": {
            "type": "string",
            "example": "Over-ear wireless headset with active noise cancellation and 40h battery life."
          },
          "price": {
            "type": "number",
            "format": "double",
            "example": 149.99
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "stock": {
            "type": "integer",
            "example": 42
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductImage"
            }
          },
          "rating": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 5,
            "example": 4.6
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "wireless",
              "noise-cancelling",
              "bestseller"
            ]
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProductCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "price",
          "categoryId",
          "stock"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Aurora Wireless Headset"
          },
          "description": {
            "type": "string",
            "example": "Over-ear wireless headset with active noise cancellation and 40h battery life."
          },
          "price": {
            "type": "number",
            "format": "double",
            "example": 149.99
          },
          "currency": {
            "type": "string",
            "default": "USD",
            "example": "USD"
          },
          "categoryId": {
            "type": "string",
            "format": "uuid"
          },
          "stock": {
            "type": "integer",
            "example": 42
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PaginatedProducts": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "example": 342
          },
          "totalPages": {
            "type": "integer",
            "example": 18
          }
        }
      },
      "CartItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "example": 2
          },
          "unitPrice": {
            "type": "number",
            "format": "double",
            "example": 149.99
          },
          "lineTotal": {
            "type": "number",
            "format": "double",
            "example": 299.98
          }
        }
      },
      "Cart": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CartItem"
            }
          },
          "subtotal": {
            "type": "number",
            "format": "double",
            "example": 299.98
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CartItemAddRequest": {
        "type": "object",
        "required": [
          "productId",
          "quantity"
        ],
        "properties": {
          "productId": {
            "type": "string",
            "format": "uuid"
          },
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "example": 1
          }
        }
      },
      "CartItemUpdateRequest": {
        "type": "object",
        "required": [
          "quantity"
        ],
        "properties": {
          "quantity": {
            "type": "integer",
            "minimum": 1,
            "example": 3
          }
        }
      },
      "OrderStatus": {
        "type": "string",
        "enum": [
          "pending",
          "paid",
          "processing",
          "shipped",
          "delivered",
          "cancelled"
        ],
        "example": "processing"
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "quantity": {
            "type": "integer",
            "example": 2
          },
          "unitPrice": {
            "type": "number",
            "format": "double",
            "example": 149.99
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orderNumber": {
            "type": "string",
            "example": "NS-2026-004821"
          },
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "total": {
            "type": "number",
            "format": "double",
            "example": 299.98
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrderCreateRequest": {
        "type": "object",
        "required": [
          "shippingAddress",
          "paymentMethod"
        ],
        "properties": {
          "shippingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "card",
              "paypal",
              "bank_transfer"
            ],
            "example": "card"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "example": "Please leave the package at the front desk."
          }
        }
      },
      "OrderStatusUpdateRequest": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/OrderStatus"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid access token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "UNAUTHORIZED",
              "message": "Access token is missing or expired."
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource does not exist.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "code": "NOT_FOUND",
              "message": "Resource not found."
            }
          }
        }
      },
      "ValidationError": {
        "description": "Request payload failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new account",
        "description": "Creates a new customer account and returns an access token.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Log in",
        "description": "Authenticates a user with email and password.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "Refresh access token",
        "description": "Exchanges a refresh token for a new access token.",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New token pair issued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Log out",
        "description": "Invalidates the current refresh token.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "204": {
            "description": "Logged out."
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "summary": "Get my profile",
        "description": "Returns the profile of the currently authenticated user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "ru",
                "de",
                "fr"
              ],
              "default": "en"
            },
            "description": "Preferred response language."
          }
        ],
        "responses": {
          "200": {
            "description": "Current user.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "summary": "Update my profile",
        "description": "Partially updates the current user's profile.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "description": "Only provided fields are updated."
        },
        "responses": {
          "200": {
            "description": "Profile updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "summary": "Get user by ID",
        "description": "Returns a public profile by user ID. Requires admin role.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "List categories",
        "description": "Returns all product categories.",
        "tags": [
          "Categories"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Category list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create category",
        "description": "Creates a new product category. Requires admin role.",
        "tags": [
          "Categories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Smart Home"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List products",
        "description": "Returns a paginated, filterable list of products.",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Page number."
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "Items per page."
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by category slug."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Full-text search across name and description."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "price_asc",
                "price_desc",
                "rating",
                "newest"
              ],
              "default": "newest"
            }
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "ru",
                "de",
                "fr"
              ],
              "default": "en"
            },
            "description": "Preferred response language."
          }
        ],
        "responses": {
          "200": {
            "description": "Product page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProducts"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create product",
        "description": "Creates a new product listing. Requires seller or admin role.",
        "tags": [
          "Products"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/products/{productId}": {
      "get": {
        "summary": "Get product",
        "description": "Returns full details for a single product.",
        "tags": [
          "Products"
        ],
        "security": [],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "summary": "Replace product",
        "description": "Fully replaces a product's data. Requires seller or admin role.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "summary": "Delete product",
        "description": "Removes a product from the catalog. Requires admin role.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/products/{productId}/images": {
      "post": {
        "summary": "Upload product image",
        "description": "Uploads a new image for a product (multipart/form-data).",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Image file (JPEG/PNG, max 5MB)."
                  },
                  "isPrimary": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Image uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductImage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/cart": {
      "get": {
        "summary": "Get my cart",
        "description": "Returns the current user's shopping cart.",
        "tags": [
          "Cart"
        ],
        "responses": {
          "200": {
            "description": "Cart.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          }
        }
      }
    },
    "/cart/items": {
      "post": {
        "summary": "Add item to cart",
        "description": "Adds a product to the cart, or increases quantity if already present.",
        "tags": [
          "Cart"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartItemAddRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Item added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/cart/items/{itemId}": {
      "patch": {
        "summary": "Update cart item quantity",
        "description": "Changes the quantity of an existing cart line.",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartItemUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "summary": "Remove cart item",
        "description": "Removes a line item from the cart.",
        "tags": [
          "Cart"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "List my orders",
        "description": "Returns the current user's order history.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "paid",
                "processing",
                "shipped",
                "delivered",
                "cancelled"
              ],
              "example": "processing"
            },
            "description": "Filter by order status."
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create order (checkout)",
        "description": "Converts the current cart into an order and initiates payment.",
        "tags": [
          "Orders"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/orders/{orderId}": {
      "get": {
        "summary": "Get order",
        "description": "Returns full details for a single order.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/orders/{orderId}/status": {
      "patch": {
        "summary": "Update order status",
        "description": "Transitions an order to a new status. Requires admin role.",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderStatusUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    }
  }
}